<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Listado de productos</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/inicio}"><i class="bi bi-house-door-fill text-primary fs-1"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" th:href="@{/productos/}">Productos</a>
                <a class="nav-link" th:href="@{/categorias}">Categorias</a>
                <a class="nav-link" th:href="@{/comentarios}">Comentarios</a>
                <select id="categoria" class="form-select mb-2" name="filtro" onchange="location.href='/productos/'+ this.value">
                    <option value="" selected>-- Filtrar por Categoria --</option>
                    <option th:each="categoria : ${categorias}"
                            th:value="${categoria.id}"
                            th:text="${categoria.nombre}"
                            th:selected="${categoria.id == selectedCategoriaId}">Opción</option>
                </select>
            </div>
        </div>
    </div>
</nav>


    <div class="container mt-5 table-responsive">
        <h1 class="text-center mb-4">Lista de Productos</h1>
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>TÍTULO</th>
                <th>Categoria</th>
                <th>CANTIDAD</th>
                <th>PRECIO</th>
                <th></th>
                <th>IMPORTE INDIVIDUAL</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="producto : ${productos}" th:object="${producto}">
                <td th:text="${producto.id}"></td>
                <td>
                    <a th:href="@{/productos/view/{id}(id=${producto.id})}"
                       th:text="${producto.titulo}"></a>
                </td>
                <td>
                    <p th:if="${producto.categoria != null}" th:text="${producto.categoria.nombre}"></p>
                </td>
                <td th:text="${producto.cantidad}"></td>
                <td th:text="${producto.precio + '€'}"></td>
                <td>
                    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
                        <a th:href="@{/productos/del/{id}(id=${producto.id})}">
                            <i class="bi bi-trash3-fill text-danger mb-5 mb-md-0 fs-1"></i>
                        </a></span>
                        <a th:href="@{/productos/edit/{id}(id=${producto.id})}">
                            <i class="bi bi-pencil-square text-primary fs-1"></i>
                        </a></span>
                        <a th:href="@{/productos/view/{id}(id=${producto.id})}">
                            <i class="bi bi-eye text-black fs-1"></i>
                        </a></span>
                    </div>
                </td>
                <td th:text="${producto.getImporte()+'€'}" class="text-center">Importe del producto</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="bg-dark text-light text-center">Importe total</td>
                <td class="d-flex justify-content-center align-items-center">
                    <p th:if="${importe != null}" th:text="${importe+' €'}"></p>
                    <p th:if="${importeCategoria != null}" th:text="${importeCategoria+' €'}"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <a th:href="@{/productos/new}">
            <i class="bi bi-plus-circle fs-1"></i>
        </a>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>