<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Alta producto</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
  <form th:action="@{/categorias/new}" method="POST" th:object="${categoria}" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="Nombre" th:field="*{nombre}">
      <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-warning mb-3"></p>

      <label for="descripcion" class="form-label">Descripcion</label>
      <input type="text" class="form-control" name="nombre" id="descripcion" aria-describedby="Descripcion" th:field="*{descripcion}">
      <p th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="alert alert-warning mb-3"></p>

      <label for="foto" class="form-label">Foto</label>
      <input type="file" class="form-control" name="foto" id="foto" aria-describedby="foto">
    </div>
    <button type="submit" class="btn btn-primary">Dar de alta nueva Categoria</button>
  </form>
</div>
</body>
</html>