<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Visualizacion de Categoria</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div class="container-sm">
    <a th:href="@{/categorias/detalle/{id}(id=${categoria.id})}">
        <h1 th:text="'Nombre: ' + ${categoria.nombre}"></h1>
    </a>
    <h3 th:text="'Descripcion: ' + ${categoria.descripcion}"></h3>
    <img th:src="@{/fotos/categorias/{foto}(foto=${categoria.foto})}" alt="Categoria Foto" style="width: 100%; height: auto;">
    <br>
    <a th:href="@{/categorias}"><i class="bi bi-arrow-return-left fs-1"></i></a>
</div>
</body>
</html>