<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Editar Comentario</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <form th:action="@{/comentarios/edit/{id}(id=${comentario.id})}" method="POST" th:object="${comentario}">
        <div class="mb-3">
            <label for="titulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" name="titulo" id="titulo" aria-describedby="Titulo" th:field="*{titulo}">
            <p th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="alert alert-warning mb-3"></p>

            <label for="texto" class="form-label">Texto</label>
            <input type="text" class="form-control" name="texto" id="texto" aria-describedby="Texto" th:field="*{texto}">
            <p th:if="${#fields.hasErrors('texto')}" th:errors="*{texto}" class="alert alert-warning mb-3"></p>

            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" class="form-control" name="fecha" id="fecha" aria-describedby="fecha"
                   th:value="*{fecha}">
            <p th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" class="alert alert-warning mb-3"></p>

            <select id="producto" th:field="*{producto}" class="form-select">
                <option value="" selected>-- Selecciona un producto --</option>
                <option th:each="producto : ${productos}"
                        th:value="${producto.id}"
                        th:text="${producto.titulo}"
                >Opción</option>
            </select>

        </div>
        <button type="submit" class="btn btn-primary">Editar comentario</button>
    </form>
</div>
</body>
</html>