<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<head>
    <meta charset="UTF-8">
    <title>Alta producto</title>
</head>
<body>
<div class="container">
  <form th:action="@{/productos/new}" method="POST" th:object="${producto}">
    <div class="mb-3">
      <label for="titulo" class="form-label">Titulo</label>
      <input type="text" class="form-control" name="titulo" id="titulo" aria-describedby="Titulo">
      <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
      <label for="cantidad" class="form-label">Cantidad</label>
      <input type="number" class="form-control" name="cantidad" id="cantidad" aria-describedby="Cantidad">

      <label for="precio" class="form-label">Precio</label>
      <input type="number" class="form-control" name="precio" id="precio" aria-describedby="Precio"
      min="0" step="0.01">
    </div>
    <button type="submit" class="btn btn-primary">Dar de alta nuevo producto</button>
  </form>
</div>
</body>
</html>