<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alta encuesta</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
  <form th:action="@{/encuestas/new}" method="POST" th:object="${encuesta}">
    <h2 class="text-center text-primary mb-4">Rellene los siguientes campos para compartir su experiencia</h2>
    <div class="mb-3">
      <!--Nombre -->
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="Nombre" th:field="*{nombre}">
      <p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-warning mb-3"></p>
      <!--Apellidos -->
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text" class="form-control" name="apellidos" id="apellidos" aria-describedby="Apellidos" th:field="*{apellidos}">
      <p th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}" class="alert alert-warning mb-3"></p>
      <!--Email -->
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" name="email" id="email" aria-describedby="Email"
              th:field="*{email}">
      <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-warning mb-3"></p>
      <!--Edad-->
      <label for="edad" class="form-label">Edad</label>
      <input type="number" class="form-control" name="edad" id="edad" aria-describedby="Edad"
              step="1" th:field="*{edad}">
      <p th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}" class="alert alert-warning mb-3"></p>
      <!--Telefono -->
      <label for="telefono" class="form-label">Telefono</label>
      <input type="text" class="form-control" name="telefono" id="telefono" aria-describedby="Telefono"
             th:field="*{telefono}">
      <p th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="alert alert-warning mb-3"></p>
      <!--Fecha inicio -->
      <label for="fechaInicio" class="form-label">Fecha de Inicio de la Estancia</label>
      <input type="date" class="form-control" name="fechaInicio" id="fechaInicio" aria-describedby="fechaInicio"
             th:field="*{fechaInicio}">
      <p th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" class="alert alert-warning mb-3"></p>
      <!--Motivo -->
      <label for="motivo" class="form-label">Motivo de la visita</label>
      <select id="motivo" th:field="*{motivo}" class="form-select">
        <option value="" selected>-- Selecciona un motivo --</option>
        <option th:each="opcion : ${opciones}"
                th:value="${opcion.valor}"
                th:text="${opcion.texto}"
               >Opción</option>
      </select>
      <p th:if="${#fields.hasErrors('motivo')}" th:errors="*{motivo}" class="alert alert-warning mb-3"></p>
      <!--Servicios -->
      <label class="form-label">Servicios utilizados durante la estancia:</label>
      <br>
      <input type="checkbox" id="restaurante" name="servicios" value="restaurante" class="form-check-input"
      th:field="*{restauranteS}">
      <label for="restaurante" class="form-check-label">Restaurante</label>

      <br>

      <input type="checkbox" id="gimnasio" name="servicios" value="gimnasio" class="form-check-input"  th:field="*{gimnasioS}">
      <label for="gimnasio" class="form-check-label">Gimnasio</label>

      <br>

      <input type="checkbox" id="spa" name="servicios" value="spa" class="form-check-input"  th:field="*{spaS}">
      <label for="spa" class="form-check-label">Spa</label>

      <br>

      <input type="checkbox" id="piscina" name="servicios" value="piscina" class="form-check-input"  th:field="*{piscinaS}">
      <label for="piscina" class="form-check-label">Piscina</label>

      <br>

      <input type="checkbox" id="roomService" name="servicios" value="roomService" class="form-check-input" th:field="*{roomService}">
      <label for="roomService" class="form-check-label">Room Service</label>

      <br>
      <!--Nivel de satisfaccion general -->
      <label>Nivel de satisfaccion General</label>
      <br>
      <input type="radio" id="muySatisfecho" name="nivelSatisfaccion" value="muySatisfecho" class="form-check-input"  th:field="*{nivelSatisfaccion}">
      <label for="muySatisfecho" class="form-check-label">Muy satisfecho</label>
      <br>
      <input type="radio" id="satisfecho" name="nivelSatisfaccion" value="satisfecho" class="form-check-input" th:field="*{nivelSatisfaccion}">
      <label for="satisfecho" class="form-check-label">Satisfecho</label>
      <br>
      <input type="radio" id="neutral" name="nivelSatisfaccion" value="neutral" class="form-check-input" th:field="*{nivelSatisfaccion}"
            >
      <label for="neutral" class="form-check-label">Neutral</label>
      <br>
      <input type="radio" id="insatisfecho" name="nivelSatisfaccion" value="insatisfecho" class="form-check-input" th:field="*{nivelSatisfaccion}">
      <label for="insatisfecho" class="form-check-label">Insatisfecho</label>
      <br>
      <input type="radio" id="muyInsatisfecho" name="nivelSatisfaccion" value="muyInsatisfecho" class="form-check-input" th:field="*{nivelSatisfaccion}">
      <label for="muyInsatisfecho" class="form-check-label">Muy Insatisfecho</label>
      <p th:if="${#fields.hasErrors('nivelSatisfaccion')}" th:errors="*{nivelSatisfaccion}" class="alert alert-warning mb-3"></p>
      <br>
      <!-- Otros comentarios -->
      <label for="otrosComentarios" class="form-label">Otros comentarios: </label>
      <textarea name="otrosComentarios" id="otrosComentarios" class="form-control" th:field="*{otrosComentarios}"></textarea>
      <p th:if="${#fields.hasErrors('otrosComentarios')}" th:errors="*{otrosComentarios}" class="alert alert-warning mb-3"></p>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Encuesta</button>
  </form>
</div>
<div class="container m-5 p-5"></div>
</body>
</html>