<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de encuestas</title>
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
    <!-- DataTables Responsive CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Responsive JS -->
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>


    <!-- Bootstrap css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-start">
        <i class="bi bi-buildings-fill text-primary fs-1"></i>
    </h1>
    <h1 class="text-center mb-4">Lista de Encuestas
        <i class="bi bi-list-check text-primary"></i></h1>
    <div>
        <form action="/encuestas" method="GET">
            <select id="filtro" class="form-select mb-2" name="filtro">
                <option value="" selected>-- Filtrar por nivel de satisfacción --</option>
                <option th:each="filtro : ${filtros}"
                        th:value="${filtro.valor}"
                        th:text="${filtro.texto}">Opción</option>
            </select>
            <button type="submit" class="btn btn-primary mb-1 float-end">Filtrar</button>
        </form>
    </div>



    <table class="table table-striped table-bordered dt-responsive nowrap" style="width:100%"  id="idTabla">
        <thead class="table-dark">
        <tr>
            <th>NOMBRE DEL HUESPED</th>
            <th>FECHA DE INICIO DE LA ESTANCIA</th>
            <th>NIVEL DE SATISFACCIÓN GENERAL</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="encuesta : ${encuestas}">
            <td>
                <a th:href="@{/encuestas/view/{id}(id=${encuesta.id})}"
                   th:text="${encuesta.nombre}"></a>
            </td>
            <td th:text="${encuesta.fechaInicio}"></td>
            <td th:text="${encuesta.nivelSatisfaccion}"></td>
            <td>
                <div class="d-flex justify-content-between">
                    <a th:href="@{/encuestas/del/{id}(id=${encuesta.id})}">
                        <i class="bi bi-trash3-fill text-danger fs-4 "></i>
                    </a>
                    <a th:href="@{/encuestas/edit/{id}(id=${encuesta.id})}">
                        <i class="bi bi-pencil-square fs-4"></i>
                    </a>
                    <a th:href="@{/encuestas/view/{id}(id=${encuesta.id})}">
                        <i class="bi bi-eye text-dark fs-4"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${encuestas.isEmpty()}" class="container-sm">
    <p class="alert alert-info mb-3 text-center">No hay encuestas que mostrar</p>
</div>
<div class="container">
    <h2 class="text-end">
        <a th:href="@{/encuestas/new}">
            <i class="bi bi-plus-circle fs-1">Realizar una nueva encuesta</i>
        </a>
    </h2>
</div>
<div class="container-sm">
    <h1 class="text-secondary">Estadisticas</h1>
    <!-- Nueva forma de mostrar las estadisticas -->
    <table class="table w-25 text-center table-bordered">
        <thead>
        <tr class="table-dark">
            <th scope="col">Encuestas Completadas</th>
            <th scope="col">Promedio de edad de los encuestados</th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <th scope="row" th:text="${totalEncuestas}"></th>
            <td th:text="${promedioEdad}"></td>
        </tr>
        </tbody>
    </table>
    <!-- Tabla satisfaccion-->
    <table class="table w-50 table-bordered">
        <thead>
        <tr class="table-dark">
            <th scope="col">Muy satisfecho</th>
            <th scope="col">Satisfecho</th>
            <th scope="col">Neutral</th>
            <th scope="col">Insatisfecho</th>
            <th scope="col">Muy Insatisfecho</th>
        </tr>
        </thead>
        <tbody th:if="${porcentajes != null}">
        <tr>
            <th scope="row" th:text="${porcentajes[4]}" class="table-success"></th>
            <td th:text="${porcentajes[3]}" class="table-success"></td>
            <td th:text="${porcentajes[2]}" class="table-info"></td>
            <td th:text="${porcentajes[1]}" class="table-warning"></td>
            <td th:text="${porcentajes[0]}" class="table-danger"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- JavaScript para confirmar si de verdad el usuario quiere borrar la encuesta-->
<script>
    function eliminar() {
        var respuesta = confirm("Estas seguro que desea eliminar?");
        return respuesta
    }
</script>
<!--Script Datatable -->
<script>
    $(document).ready(function() {
     $('#idTabla').DataTable({
         order: [
             [1,'desc']
         ],
         responsive: true,
         language: {
             "url": "https://cdn.datatables.net/plug-ins/2.0.5/i18n/es-ES.json"
         }
     });
 });
</script>
</body>
</html>